.grid-container{
    
    width: 256px;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(16, minmax(auto, 1fr));
    /* gap: 1px; */
    border: 1px red solid;
    
}

.grid-item{
    background-color: gray;
    text-align: center;
    width: 1fr;
    height: 1fr;
    margin: 0;
}

.grid-item-hover{
    background-color: black;
}