.grid-container{
    width:fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /* grid-template-rows: repeat(16, 1fr); */
    /* gap: 1px; */
    border: 1px red solid;
    
}

.grid-item{
    background-color: gray;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 0;
}

.grid-item-hover{
    background-color: black;
}